<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Datpicker Webcomponents</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- polyfills https://github.com/webcomponents/webcomponentsjs -->
  <script src="src/polyfills/webcomponents-sd-ce.js"></script>
</head>
<body>

  <date-picker min-date="22-04-2018"></date-picker>

  <script src="datepicker.component.js"></script>

</body>
</html>